.scenegraph-header{
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid @brand-color;
}

.scenegraph {
  border-top: 1px solid #111;
}

.scenegraph .search {
  padding: 5px;
}

.scenegraph-toolbar {
  background-color: #333;
}

.scenegraph-actions {
  padding: 9px 0 5px 4px;
}


/* Toolbar icons */

#scenegraphToolbar h4{
  margin: 0;
  padding: 0 8px 4px 8px;
  border-bottom: 1px solid #444;
}

#scenegraphToolbar a.button {
  position: relative;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid transparent;
  margin: 0 0 0 2px;
  padding: 0;
}

#scenegraphToolbar a.button-download{
  background: #111;
  padding: 8px 16px;
  border-radius: 4px;
  font: inherit;
  display: inline-block;
  margin: 0 0 8px 0;
}

#scenegraphToolbar a.button img{
  width: 40px;
  display: inline-block;
  border-radius: 4px;
}

#scenegraphToolbar a.button:hover{
  border: 1px solid white;
}
#scenegraphToolbar a.button:active{
  border: 1px solid white;
  top: 1px;
  left: 1px;
}
#scenegraphToolbar a.button:active img{
  opacity: 0.5;
  background: black;
}
