
.tabs{
  clear: both;
  border-bottom: 1px solid #ccc;
  margin: 0 0 0 0;
  padding: 0 0 0 8px;
  text-align: left;
  height: 30px;

  li{
    list-style: none;
    display: inline-block;

    a{
      display: block;
      padding: 4px 12px;
      border: 1px solid #ccc;
      height: 30px;
      margin-right: 8px;
    }
  }

  li:first-child a{
    border-bottom-color: white;
  }
}