
.tabs{
  clear: both;
  margin: 0;
  padding: 8px 0;
  text-align: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    color: #ccc;
    margin-right: 8px;

    a{
      display: inline-block;
      padding: 0 2px 0 0;
    }
  }

  a.active{
    color: black;
    text-decoration: none;
  }
}