
.model-search{
  height: 100%;
  overflow: auto;

  .model-result{
    position: relative;
    padding-left: 92px;
    min-height: 92px;

    a{
      color: inherit;
    }

    p{
      opacity: 0.5;
    }

    img{
      position: absolute;
      left: 4px;
      top: 4px;
      width: 80px;
    }
  }
}